<div class="row">
    <div class="small-12"><h1>Swag - {{model.name}}</h1>
        <ul>
            <li><span class="label"></span><span class="value"></span></li>
            <li><span class="label"></span><span class="value"></span></li>
            <li><span class="label"></span><span class="value"></span></li>
            <li><span class="label"></span><span class="value"></span></li>
        </ul>
    </div>
</div>