<div class="row questionnaire-edit">
    <div class="small-2 columns">
        <ul class="side-nav">
            <li><a href="">Step 1</a ></li>
            <li><a href="">Step 2</a></li>
            <li><a href="">Step 3</a></li>
            <li><a href="">Step 4</a></li>
        </ul>
    </div>
    <div class="small-10 columns"><h1>{{model.name}}</h1></div>
</div>