<div class="row questionnaire-list header">
    <div class="small-8 columns">
        <h1>Questionnaires</h1>
    </div>
    <div class="small-4 columns"><a {{action "newQuestionnaire"}} class="button">New</a></div>
</div>

<div class="row questionnaire-list">
    <div class="small-12 columns">
        <table>
            <thead>
                <tr>
                    <th width="10%">ID</th>
                    <th width="30%">Name</th>
                    <th width="30%">Date Created</th>
                    <th width="30%">Swag</th>
                </tr>
            </thead>
            <tbody>
                {{#each questionnaire in model}}
                    {{#with questionnaire}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                            <td>{{created}}</td>
                            <td>Obviously</td>
                        </tr>
                    {{/with}}
                {{/each}}</tbody>
        </table>
    </div>
</div>