<div class="row questionnaire-new">
    <div class="small-12">
        <ul>
            <li>Initalize</li>
            <li>Step 2</li>
            <li>Step 3</li>
            <li>Step 4</li>
        </ul>
    </div>
</div>