<div class="row recover">
    <div class="small-12">
        <h1>Recover Password</h1>
    </div>
</div>
<div class="row recover">
    <div class="small-12 medium-6 small-centered columns box">
        <form {{action 'recover' on='submit'}}>
            {{#if alert.message}}
                <div {{bind-attr class="alert.type :alert-box"}}>{{alert.message}}</div>
            {{/if}}
            {{input id='email' placeholder='Email' value=email}}
            <button type="submit">Recover</button>
      </form>
    </div>
</div>
        
        